/* Please ❤ this if you like it! */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap"); */

:root {
    font-size: 20px;
    --dark-blue: #e7e7e7;
    --white-gr: #FFF;
    --yellow: #ffffff;
    --yellow-2: #fff;
}
body {
    color: var(--white-gr);
    background-color: var(--dark-blue);
    overflow-x: hidden;
}
h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: var(--white-gr);
    font-size: 36px;
}

.color-yellow {
    color: var(--yellow);
}
.size-22 {
    font-size: 22px;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}
.logo img {
    height: 26px;
    width: auto;
    display: block;
}
.section {
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}
#row-ticket,
#row-ticket {
    position: relative;
    width: 500px;
    display: inline-block;
    cursor: pointer;
    padding: 50px 0;
    text-align: center;
    margin: 5px;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
    transition: all 250ms linear;
}
#row-ticket:before,
#row-ticket:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background-image: linear-gradient(335deg, var(--yellow), var(--yellow-2));
}
#row-ticket:after {
    content: "";
    position: absolute;
    top: -100%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 200%;
    z-index: -1;
    display: block;
    background-color: var(--white-gr);
    opacity: 0.4;
    transition: all 250ms linear;
}
#row-ticket:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    display: block;
    background-color: var(--white-gr);
    opacity: 0.4;
    transition: all 250ms linear;
}
#row-ticket {
    transform: translateY(-10px);
}
#row-ticket .duration {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--dark-blue);
    display: block;
    transition: all 250ms linear;
}
#row-ticket .price {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark-blue);
    display: block;
    transition: all 250ms linear;
    text-shadow: 1px 2px 4px var(--yellow), 0 0 0 #000,
        1px 2px 4px var(--yellow);
}
#row-ticket .price sup {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 4px;
}
#row-ticket .uil {
    font-size: 30px;
    line-height: 1;
    color: var(--dark-blue);
    display: block;
    transition: all 250ms linear;
}
#row-ticket .time {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark-blue);
    display: block;
    transition: all 250ms linear;
}
.top-dots,
.bottom-dots {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.bottom-dots {
    top: 100%;
}

.dots span {
    position: absolute;
    width: 17px;
    height: 17px;
    display: block;
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    background-color: var(--dark-blue);
}
.dots span:nth-child(1) {
    width: 30px;
    height: 30px;
    left: -15px;
}
.dots span:nth-child(2) {
    width: 30px;
    height: 30px;
    right: -15px;
}
